.cards__item-group {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr fit-content(22px);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 23px 20px 23px 21px;
}