.popup-auth__signin-link {
    text-decoration: none;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-decoration: none;

}