.profile__description {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    grid-column: 1/3;
}

@media screen and (min-width: 768px) {
    .profile__description {
        text-align: left;
    }
}

@media screen and (min-width: 1280px) {
    .profile__description {
        font-size: 18px;
        line-height: 22px;
    }
}