.popup__inputs-error {
    opacity: 0;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    height: 18px;
    color: #FF0000;
    margin-top: 5px;
}