.profile__icon {
    position: absolute;
    object-fit: none;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.profile__icon:hover {
    opacity: 1;
}